{% extends "base.html" %}

{% load staticfiles %}

{% block css %}

<link rel="stylesheet" href='{% static "css/aboutMe/styles.css" %}' />

<link rel="stylesheet" href='{% static "css/aboutMe/responsive.css" %}' />

{% endblock css %}



{% block content %}



<div class="single-post">
  <div class="image-wrapper">
    <img src='{% static "images/aboutMe.jpg" %}' alt="Blog Image">
  </div>

  <div class="icons">
    <div class="left-area">
      <a class="btn caegory-btn" href="#"><b>O MNIE</b></a>
    </div>
  </div>

  <p class="desc" align="justify">Jestem życiową optymistką :) Prywatnie mamą Ali i żoną, zawodowo nauczycielem wychowania fizycznego i instruktorem tańca. Nieustannie zachwycam się życiem i wszelkimi jego formami, a zabawa jest zdecydowanie moją ulubioną formą nauki. Moja praca w dużej mierze polega na zabawach (głównie ruchowych) z dziećmi, co uważam za wielkie szczęście. W trakcie praktyki zawodowej od lat obserwuję dzieci i myślę, że wiem, co sprawia im radość :)</p>


</div><!-- single-post -->

{% endblock content %}
