{% load staticfiles %}

<div class="sidebar-section about-author center-text">
  <div class="author-image"><img src='{% static "images/author-1-200x200.jpg" %}' alt="Autohr Image"></div>

  <ul class="social-icons">
    <li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
    <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
  </ul><!-- right-area -->

  <h4 class="author-name"><b class="light-color">Gosia Kindziuk</b></h4>
  <p>życiowa optymistka, mama, żona, nauczycielka wf, instruktorka tańca, doktorantka AWF, zawodniczka ultimate frisbee</p>

  <div class="signature-image"><img src="images/signature-image.png" alt="Signature Image"></div>
  <a class="read-more-link" href="#"><b>WIĘCEJ</b></a>

</div><!-- sidebar-section about-author -->