{% load staticfiles %}
<!--DOCTYPE html -->
<html>
	<head>
    <title>
			{% block head_title %}Bawić się jest pięknie{% endblock head_title %}
		</title>

    <!-- Font -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">    

    <!-- Stylesheets -->
		
    <!-- bootstrap:

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    -->

		<link rel='stylesheet' href='{% static "css/base.css" %}' />

    <link rel="stylesheet" href='{% static "css/ionicons.css" %}' />

    <link rel="stylesheet" href='{% static "css/bootstrap.css" %}' />

    <link rel="stylesheet" href='{% static "css/layerslider.css" %}' />

    <link rel="stylesheet" href='{% static "css/homepage/styles.css" %}' />

    <link rel="stylesheet" href='{% static "css/homepage/responsive.css" %}' />
		
    <style>
			{% block style %}{% endblock style %}
		</style>
	
  </head>
  <body>
	
    <header>

      <div class="top-menu">

        <ul class="left-area welcome-area">
          <li class="hello-blog">Witajcie, zapraszam, bawcie się dobrze :)</li>
          <li><a href="mailto:contact@juliblog.com">bsjp@gmail.com</a></li>
        </ul><!-- left-area -->


        <div class="right-area">

          <div class="src-area">
            <form action="post">
              <input class="src-input" type="text" placeholder="Szukaj">
              <button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
            </form>
          </div><!-- src-area -->

          <ul class="social-icons">
            <li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
          </ul><!-- right-area -->

        </div><!-- right-area -->

      </div><!-- top-menu -->

      <div class="middle-menu center-text"><a href="#" class="logo"><img src='{% static "images/logo.jpg" %}' alt="Logo Image"></a></div>

      <div class="bottom-area">

        <div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

        <ul class="main-menu visible-on-click" id="main-menu">
          <li><a href="#">STRONA GŁÓWNA</a></li>
          <li class="drop-down"><a href="#!">BLOG<i class="ion-ios-arrow-down"></i></a>

            <ul class="drop-down-menu">
              <li><a href="#">DZIECKO</a></li>
              <li><a href="#">EDUKACJA</a></li>
              <li><a href="#">SPORT</a></li>
              <li><a href="#">PORADY SEKSUALNE</a></li>
            </ul>

          </li>
          <li><a href="#">OFERTA</a></li>
          <li><a href="#">O MNIE</a></li>
          <li><a href="#">KONTAKT</a></li>
        </ul><!-- main-menu -->

      </div><!-- conatiner -->
    </header>

    <div class="main-slider">
      <div id="slider">

        <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
          <img src='{% static "images/slider-1-1600x800.jpg" %}' class="ls-bg" alt="" />

            <div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
              <a class="btn" href="#">Nordic Walking</a>
              <h3 class="title"><b>Sport, Przyroda, Relaks</b></h3>
              <h6>promocja 10%</h6>
            </div>

        </div><!-- ls-slide -->

        <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
          <img src='{% static "images/slider-2-1600x800.jpg" %}' class="ls-bg" alt="" />

            <div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
              <a class="btn" href="#">POWRÓT DO FORMY</a>
              <h3 class="title"><b>Ciąża, Fit-Mama, Challenge</b></h3>
              <h6>nawet 2,5 kg tygodniowo</h6>
            </div>

        </div><!-- ls-slide -->

      </div><!-- slider -->
    </div><!-- main-slider -->


    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <section class="section blog-area">
  		<div class='container'>
        <div class="row">
          
          <div class="col-lg-8 col-md-12">
            <div class="blog-posts">
			        {% block content %}{% endblock content %}
            </div>
          </div>
          
          <div class="col-lg-4 col-md-12">
            <div class="sidebar-area">
              {% include "aboutMe.html" %}
            </div>
          </div>
        
        </div><!-- row -->
      </div><!-- container -->
    </section><!-- section -->

    <footer>
      <div class="container">
        <div class="row">

          <div class="col-sm-6">
            <div class="footer-section">
              <p class="copyright">Juli &copy; 2018. All rights reserved. | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
              <hr>
              <p class="copyright">Back end and template adaptation by Kamil Kindziuk.</p>
            </div><!-- footer-section -->
          </div><!-- col-lg-4 col-md-6 -->

          <div class="col-sm-6">
            <div class="footer-section">
              <ul class="social-icons">
                <li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                </li>
              </ul>
            </div><!-- footer-section -->
          </div><!-- col-lg-4 col-md-6 -->

        </div><!-- row -->
      </div><!-- container -->
    </footer>

  <!-- SCIPTS -->

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src='{% static "js/bootstrap.js" %}' ></script>

    <script src='{% static "js/jquery-3.1.1.min.js" %}' ></script>

    <script src='{% static "js/tether.min.js" %}' ></script>

    <script src='{% static "js/layerslider.js" %}' ></script>

    <script src='{% static "js/scripts.js" %}' ></script>
	</body>
</html> 