{% load staticfiles %}

<div class="sidebar-section category-area">
  <h4 class="title"><b class="light-color">KATEGORIE</b></h4>
  <a class="category" href="{% url 'posts:posts' %}?category=BOBASY">
    <img src='{% static "images/category-1.jpg" %}' alt="Category Image">
    <h6 class="name">BOBASY</h6>
  </a>
  <a class="category" href="{% url 'posts:posts' %}?category=LEKCJE+WF">
    <img src='{% static "images/category-2.jpg" %}' alt="Category Image">
    <h6 class="name">LEKCJE WF</h6>
  </a>
  <a class="category" href="{% url 'posts:posts' %}?category=MOJE+PRZEMYŚLENIA">
    <img src='{% static "images/category-3.jpg" %}' alt="Category Image">
    <h6 class="name">MOJE PRZEMYŚLENIA</h6>
  </a>
</div><!-- sidebar-section category-area -->