{% load staticfiles %}

<div class="sidebar-section category-area">
  <h4 class="title"><b class="light-color">KATEGORIE</b></h4>
  <a class="category" href="{% url 'posts:posts' %}?category=BOBASY">
    <img src='{% static "images/category-1.jpg" %}' alt="Category Image">
    <h6 class="name">BOBASY</h6>
  </a>
  <a class="category" href="{% url 'posts:posts' %}?category=MALUCHY">
    <img src='{% static "images/category-4.jpg" %}' alt="Category Image">
    <h6 class="name">MALUCHY</h6>
  </a>
  <a class="category" href="{% url 'posts:posts' %}?category=STARSZAKI">
    <img src='{% static "images/category-5.jpg" %}' alt="Category Image">
    <h6 class="name">STARSZAKI</h6>
  </a>
    <a class="category" href="{% url 'posts:posts' %}?category=LEKCJE+WF">
    <img src='{% static "images/category-2.jpg" %}' alt="Category Image">
    <h6 class="name">LEKCJE WF</h6>
  </a>
   </a>
    <a class="category" href="{% url 'posts:posts' %}?category=RODZINA">
    <img src='{% static "images/category-6.jpg" %}' alt="Category Image">
    <h6 class="name">RODZINA</h6>
  </a> 
  <a class="category" href="{% url 'posts:posts' %}?category=MOJE+PRZEMYŚLENIA">
    <img src='{% static "images/category-3.jpg" %}' alt="Category Image">
    <h6 class="name">MOJE PRZEMYŚLENIA</h6>
  </a>
</div><!-- sidebar-section category-area -->