{% extends "base.html" %}

{% load staticfiles %}

{% block head_title %}
  {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block css %}

<link rel="stylesheet" href='{% static "css/contact/styles.css" %}' />

<link rel="stylesheet" href='{% static "css/contact/responsive.css" %}' />

{% endblock css %}

{% block content %}

  <div id="send-email-container" class="leave-comment-area">
    <h4 class="title"><b class="light-color">Napisz do mnie</b></h4>
    <div class="leave-comment">

    

      <form method="post">
        <div class="row">
          {% csrf_token %}
          {{ form }}

          <div class="col-sm-12">
            <button class="btn btn-2"><b>WYŚLIJ</b></button>
          </div>

        </div><!-- row -->
      </form>

    </div><!-- leave-comment -->

  </div><!-- comments-area -->

  {% if messages %}
    <script>
      var sendButton = document.getElementById("send-email-container");
      sendButton.style.display = "none";
    </script>

    {% for message in messages %}
      <p>{{ message }}</p> 
    {% endfor %}

  {% endif %}

{% endblock content %}
