{% extends "base.html" %}

{% load staticfiles %}

{% block css %}

  <link rel="stylesheet" href='{% static "css/homepage/styles.css" %}' />

  <link rel="stylesheet" href='{% static "css/homepage/responsive.css" %}' />

{% endblock css %}


{% block content %}

<!--
  <form method='GET' action=''>
    <input type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/>
    <input type='submit' value='Search' />
  </form>
-->

  {% for obj in object_list %}

    <div class="single-post">

      {% if obj.image %}
        <div class="image-wrapper"><img src='{{ obj.image.url }}' alt="Blog Image"></div>
      {% endif %} 

      {% if obj.draft %}
        <h3>Staff only: Draft</h3>
      {% endif %} 
      {% if obj.publish > today %}
        <h3>Staff Only: Future Post</h3>
      {% endif %}

      <div class="icons">
        <div class="left-area">
          <a class="btn caegory-btn" href="#"><b>{{ obj.category }}</b></a>
        </div>
      </div>
      <p class="date"><em>{{ obj.publish }}</em></p>
      <h3 class="title"><a href='{{ obj.get_absolute_url }}'><b class="light-color">{{ obj.title }}</b></a></h3>
      <p>{{ obj.content|linebreaks|truncatechars:120 }}</p>
      <a class="btn read-more-btn" href="{{ obj.get_absolute_url }}"><b>CZYTAJ DALEJ</b></a>
    </div><!-- single-post -->
  {% endfor %}

<!--
  <div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
          <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %} ">previous</a>
        {% endif %}
        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>
        {% if object_list.has_next %}
          <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
  </div>
-->

{% endblock content %}


