<div class="sidebar-section newsletter-area">
  <h5 style="color: white"><b>Chcesz co tydzień otrzymywać maila z informacją o nowych artykułach?</b></h5>
  <form method="post" action="/newsletter/">
    {% csrf_token %}

    <div id="subscribe-container">
      <input class="email-input-under" type="text" placeholder="Imię" name="name">
      <input class="email-input-under" type="text" placeholder="Adres e-mail" name="email">
      <button id="subscribe-button" class="btn btn-2" type="submit">ZAPISZ SIĘ</button>
    </div>
  </form>


  {% if messages %}

    {% for message in messages %}

      {% if forloop.first %}
        <p>{{ message }}</p> 
      {% endif %}

    {% endfor %}
  {% endif %}

</div><!-- sidebar-section newsletter-area -->