<div style="text-align: justify;" class="sidebar-section about-author">
  <p>
  Cieszę się, że tu jesteś :) Jeśli spodobało Ci się to, co tu przeczytałaś(eś), bardzo mi pomożesz przez udostępnienie, skomentowanie lub polubienie tego postu na Facebooku. 
  <br>
  Zapraszam Cię także do:
  <br> - polubienia  <a style="text-decoration: underline; font-weight: bold; color: #3b5998" href="https://www.facebook.com/bawicsiejestpieknie/">Bawić się jest pięknie</a> na FB;
  <br> - obserwowania <a style="text-decoration: underline; font-weight: bold; color: #8a3ab9" href="https://www.instagram.com/bawic_sie_jest_pieknie/">Bawić się jest pięknie</a> na Instragramie.
  <br>Dziękuję :)
  </p>
</div>