{% load staticfiles %}

<div class="main-slider">
  <div id="slider">

    <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
      <img src='{% static "images/slider-1.jpg" %}' class="ls-bg" alt="" />

        <div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:400; delayin:100; durationout:200; parallaxlevel:0;">
          <a class="btn" href="#">BLOG</a>
          <h3 class="title"><b>zabawy ruchowe dla dzieci</b></h3>
          <h6>bobasy - maluchy - starszaki</h6>
        </div>

    </div><!-- ls-slide -->

    <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
      <img src='{% static "images/slider-2.jpg" %}' class="ls-bg" alt="" />

        <div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:400; delayin:100; durationout:200; parallaxlevel:0;">
          <a class="btn" href="/oferta">OFERTA</a>
          <h3 class="title"><b>animacje z pomysłem</b></h3>
          <h6>urodziny - imprezy okolicznościowe</h6>
        </div>

    </div><!-- ls-slide -->

  </div><!-- slider -->
</div><!-- main-slider -->